:root {
  --dark-blue: #4070A0;
  --bright-blue: #38A19E;
  --yellow: #EDD147;
  --white: #ffffff;
  --light-blue-grey: #ced7e0;
  --med-grey: #ccc;
  --light-grey: #eee;
}


body p ol ul {
    font-size: medium;
    font-family: Helvetica, sans-serif;
}

pre {
    font-size: 0.9em;
}

blockquote {
    font-size: medium;
    background: var(--white);
    border-left: 5px solid var(--dark-blue);
}

.ui-state-default {
    background: var(--light-blue-grey);
}

.ui-state-active {
    border: var(med-grey);
    background: var(--dark-blue);
}

.ui-widget-content {
    background: var(--light-grey);
}

.search {
    width: auto;
    height: 50px;
    line-height: 50px;
}


.search input[type="text"] {
    display: none;
    background-color: var(--white);
    color: #000;
    font-size: .95em;
    border: 1px solid var(--med-grey);
    border-radius: 4px;
    float: left;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.search input[type="text"]:focus {
    border: 1px solid #333;
}

.search input[type="submit"] {
    display: none;
}

a {
  color: var(--dark-blue);
}

a:hover {
  color: var(--bright-blue);  
}