body p ol ul {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

pre {
    font-size: 0.9em;
}

blockquote {
    background: #ffffff;
    border-left: 5px solid #4070A0;
}

.ui-state-default {
    background: #ced7e0;
}

.ui-state-active {
    border: #ccc;
    background: #4070A0;
}

.ui-widget-content {
    background: #eee;
}

.search {
    width: auto;
    height: 50px;
    line-height: 50px;
}


.search input[type="text"] {
    display: none;
    background-color: #fff;
    color: #000;
    font-size: .95em;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.search input[type="text"]:focus {
    border: 1px solid #333;
}

.search input[type="submit"] {
    display: none;
}

a {
  color: #4070A0;
}